<h1>程式語言(一)</h1>
<p>wordnet 查詢&nbsp;<a href="../wordnet/doCheck?word=deceive">deceive</a></p>
<p>webster 查詢 &nbsp;<a href="../webster/doCheck?word=deceive">deceive</a></p>
<p><a href="../diamond/?num=11">列印 num=11 菱形</a></p>
<h2>tttt</h2><p>hhhh</p><h1>電腦輔助設計實習</h1>
<p><a href="../brython/">Brython 程式介面</a></p>
<p>假如我可以直接利用雲端執行設計運算, 且系統化儲存設計運算流程與結果</p>
<h1>網際網路應用</h1>
<p>網際網路相關內容</p>
<p>gggggg</p><h1>零件展示</h1>
<p>設法提供零件檔案下載</p>
<p><embed width="800" height="600" src="../static/viewstl.html?src=/downloads/gauge.stl"></embed></p>
<p><embed width="800" height="600" src="../static/viewstl.html?src=/downloads/spikeball.stl"></embed></p>